.form-reserva {
    width: 500px;
    margin: 10% auto;
    text-align: center;
    background-color: rgba(114, 114, 114, 0.719);
    padding: 5vh;
}

.input-reserva {
    margin-bottom: 10px;
}

.select-reserva {
    margin-bottom: 10px; 
      
}

body {
    background-image: url("./hotelzin.jpg");
}

.nav-reserva {
    top: 0;
    width: 100%;
    background-color: rgba(66, 66, 66, 0.719);
    color: white;
    padding: 1vh;
    position: fixed;
}

.h2-form {
    font-weight: bold;
    color: white;
    background-color: rgb(66, 66, 66);
    padding: 1vh;
    border-radius: 10px;
}