
.menu-pagina {
    display: flex;
    justify-content: left;
    align-items:center;
    background-color: #FF3131;
    color: #fdfdfd;
    padding: 30px 0;
    height: 110px;
     
}
.button{
    margin-left: 5px;
}
.menu-user{
    margin-right: 5px;
    /* background-color: #fff; */
}
.menu-pagina img{
  height: 100px;
  position: relative;
  margin-left: 10px;
}

.nav-menu {
    float: right;
    margin-top: 10px;
   
}

.nav-menu ul {
    list-style: none;
    
}

.nav-menu ul li {
    float: right;
    /* display: inline-block; */
    margin-left: 20px;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;

}

.nav-menu ul li a:hover {
    color: #000;

}

.rodape-pagina {
    position:relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(9, 7, 133, 0.849);
    background-image: linear-gradient(to left, rgb(75, 101, 248) , rgba(9, 7, 133, 0.849));
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 200px;
}
.container-menu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
