* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0dbdb;
    color: #020202;
    background-image: url('../imagens/hotelzin.jpg');
    max-width: 100%;
    height: auto;
    background-size: cover;
    /* background-size: 130vw; */
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center
    
    
}

.break-line {
  display: block;
}

header {
    display: flex;
    justify-content: left;
    align-items:center;
    background-color: #FF3131;
    color: #fdfdfd;
    padding: 30px 0;
    height: 110px;
     
}

header img{
  height: 100px;
  position: relative;
  margin-left: 10px;
}
.logo {
    margin: 0;
    
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    
}
header img{
  height: 100px;
  position: relative;
}
nav {
    float: right;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    
}

nav ul li {
    float: right;
    /* display: inline-block; */
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #000;
}

main {
    padding: 50px 0;
}

main h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}

main p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}

footer {
    background-color: #FF3131;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 200px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    
    
  }

  .card {
    /* width: 30%; */
    height: 400px;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2%;
    min-width: 300px;
    border-color: #000;
    border-radius: 5px;
    color: white;
    box-shadow: 06px 05px;
    
  }

  .red {
    background-color: red;
    border-width: 5px;
    border-color: white;
  }

  .white {
    background-color: white;
    border-width: 5px;
    border-color: red;
    color: red;
  }
  .card img {
    width: 220px;
    min-height: 180px;
    height: auto;
    display: block;
    margin: auto;
    max-width: 100%;
    border: 1px solid white;
}

  .card h2 {
    font-size: 24px;
    margin: 10px 0;
    text-align: center;
  }

  .card p {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    text-align: center;
  }
.button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}
.button:hover{
  background-color: darkblue;
}
.Titulo{
  color: red;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

