.form-signup{
    margin: 0 auto;
    max-width: 400px;
    background-color: white;
    padding: 15px;
    
    
}

body {
    padding-top: 120px;
    background: linear-gradient(to right,  #1055eb,#1c8eda,#081fee)
}

.form-signup h2{
    text-align: center;
}
