header {
    background-color: #cc0000;

    /* display: flex;
    justify-content: left;
    align-items:center;
    
    color: #fdfdfd;
    padding: 30px 0; */
    
}
.container-fluid a{
    color: white;
}
.dropdown-menu li a{
color: black;
}
ul li a :hover{
    color: #cc0000;
}